PORT=3000
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
DEEZER_CLIENT_ID=
DEEZER_CLIENT_SECRET=
SECRET_COOKIE_KEY=
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
SPOTIFY_REDIRECT_URI=http://127.0.0.1:5173/spotify/callback
DEEZER_REDIRECT_URI=http://127.0.0.1:5173/deezer/callback
